
body{
	margin:0;
	font-family: Helvetica Neue, sans-serif;
	position: relative;
}

.container{
	background:#ccc;
	height:auto;
	width:75%;
	padding:20px;
	margin:30px auto;
	border:3px double yellow;
	box-shadow: 2px 1px 5px rgba(0,0,0,0.7);
}

ol li{
	line-height: 1.5em;
	font-weight: 700;
}

button{
	padding:7px 14px;
	border-radius: 0;
	font-size:18px;
	text-transform: uppercase;
}

.hidden{
	display: none;
}

